﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Inicio.aspx.vb" Inherits="Presentacion.Inicio" %>

<%@ Register Assembly="Ext.Net" Namespace="Ext.Net" TagPrefix="ext" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">    
        <ext:ResourceManager ID="ResourceManager1" runat="server" />
        <ext:Panel ID="Panel3" runat="server" Frame="true" PaddingSummary="5px 5px 0" AutoWidth="true" Height="650" ButtonAlign="Center" Style="text-align: left" Title="Inicio">
            <Items>
                <ext:FieldSet ID="FieldSet3" runat="server" Title="Noticias" Padding="10" Height="90">
                    <Items>
                    </Items>
                </ext:FieldSet>
            </Items>
        </ext:Panel>
    
    </form>
</body>
</html>
