﻿/*Estilo para el manejo del Combo Dinamico y TPL*/
    
    .search-item {
        font          : normal 11px tahoma, arial, helvetica, sans-serif;
        padding       : 3px 10px 3px 10px;
        border        : 1px solid #fff;
        border-bottom : 1px solid #eeeeee;
        white-space   : normal;
        color         : #555;
    }
        
    .search-item h3 {
        display     : block;
        font        : inherit;
        font-weight : bold;
        color       : #222;
    }

    .search-item h3 span {
        float       : right;
        font-weight : normal;
        margin      : 0 0 5px 5px;
        width       : 100px;
        display     : block;
        clear       : none;
    } 
        
    p { width: 650px; }
        
    .ext-ie .x-form-text { position : static !important; }
    
    
    .ext-color-0,
        .ext-ie .ext-color-0-ad,
        .ext-opera .ext-color-0-ad {
            color: #7F0000;
        }
        .ext-cal-day-col .ext-color-0,
        .ext-dd-drag-proxy .ext-color-0,
        .ext-color-0-ad,
        .ext-color-0-ad .ext-cal-evm,
        .ext-color-0 .ext-cal-picker-icon,
        .ext-color-0-x dl,
        .ext-color-0-x .ext-cal-evb {
            background: #7F0000;
        }
        .ext-color-0-x .ext-cal-evb,
        .ext-color-0-x dl {
            border-color: #7C3939;
        }
        .ext-color-5,
        .ext-ie .ext-color-5-ad,
        .ext-opera .ext-color-5-ad {
            color: #7F0000;
        }
        .ext-cal-day-col .ext-color-5,
        .ext-dd-drag-proxy .ext-color-5,
        .ext-color-5-ad,
        .ext-color-5-ad .ext-cal-evm,
        .ext-color-5 .ext-cal-picker-icon,
        .ext-color-5-x dl,
        .ext-color-5-x .ext-cal-evb {
            background: #7F0000;
        }
        .ext-color-5-x .ext-cal-evb,
        .ext-color-5-x dl {
            border-color: #7C3939;
        }
        .ext-color-4,
        .ext-ie .ext-color-4-ad,
        .ext-opera .ext-color-4-ad {
            color: #90EE90;
        }
        .ext-cal-day-col .ext-color-4,
        .ext-dd-drag-proxy .ext-color-4,
        .ext-color-4-ad,
        .ext-color-4-ad .ext-cal-evm,
        .ext-color-4 .ext-cal-picker-icon,
        .ext-color-4-x dl,
        .ext-color-4-x .ext-cal-evb {
            background: #90EE90;
        }
        .ext-color-6-x .ext-cal-evb,
        .ext-color-6-x dl {
            border-color: #DDA0DD;
        }
        .ext-color-6,
        .ext-ie .ext-color-6-ad,
        .ext-opera .ext-color-6-ad {
            color: #DDA0DD;
        }
        .ext-cal-day-col .ext-color-6,
        .ext-dd-drag-proxy .ext-color-6,
        .ext-color-6-ad,
        .ext-color-6-ad .ext-cal-evm,
        .ext-color-6 .ext-cal-picker-icon,
        .ext-color-6-x dl,
        .ext-color-6-x .ext-cal-evb {
            background: #DDA0DD;
        }
        .ext-color-6-x .ext-cal-evb,
        .ext-color-6-x dl {
            border-color: #7C3939;
        }
        .ext-color-7-x .ext-cal-evb,
        .ext-color-7-x dl {
            border-color: #ADFF2F;
        }
        .ext-color-7,
        .ext-ie .ext-color-7-ad,
        .ext-opera .ext-color-7-ad {
            color: #ADFF2F;
        }
        .ext-cal-day-col .ext-color-7,
        .ext-dd-drag-proxy .ext-color-7,
        .ext-color-7-ad,
        .ext-color-7-ad .ext-cal-evm,
        .ext-color-7 .ext-cal-picker-icon,
        .ext-color-7-x dl,
        .ext-color-7-x .ext-cal-evb {
            background: #ADFF2F;
        }
        .ext-color-7-x .ext-cal-evb,
        .ext-color-7-x dl {
            border-color: #7C3939;
        }
        .ext-color-8-x .ext-cal-evb,
        .ext-color-8-x dl {
            border-color: #CD853F;
        }
        .ext-color-8,
        .ext-ie .ext-color-8-ad,
        .ext-opera .ext-color-8-ad {
            color: #CD853F;
        }
        .ext-cal-day-col .ext-color-8,
        .ext-dd-drag-proxy .ext-color-8,
        .ext-color-8-ad,
        .ext-color-8-ad .ext-cal-evm,
        .ext-color-8 .ext-cal-picker-icon,
        .ext-color-8-x dl,
        .ext-color-8-x .ext-cal-evb {
            background: #CD853F;
        }
        .ext-color-8-x .ext-cal-evb,
        .ext-color-8-x dl {
            border-color: #7C3939;
        }
        .ext-color-9-x .ext-cal-evb,
        .ext-color-9-x dl {
            border-color: #FF00FF;
        }
        .ext-color-9,
        .ext-ie .ext-color-9-ad,
        .ext-opera .ext-color-9-ad {
            color: #FF00FF;
        }
        .ext-cal-day-col .ext-color-9,
        .ext-dd-drag-proxy .ext-color-9,
        .ext-color-9-ad,
        .ext-color-9-ad .ext-cal-evm,
        .ext-color-9 .ext-cal-picker-icon,
        .ext-color-9-x dl,
        .ext-color-9-x .ext-cal-evb {
            background: #FF00FF;
        }
        .ext-color-9-x .ext-cal-evb,
        .ext-color-9-x dl {
            border-color: #7C3939;
        }
        .ext-color-10-x .ext-cal-evb,
        .ext-color-10-x dl {
            border-color: #6A5ACD;
        }
        .ext-color-10,
        .ext-ie .ext-color-10-ad,
        .ext-opera .ext-color-10-ad {
            color: #6A5ACD;
        }
        .ext-cal-day-col .ext-color-10,
        .ext-dd-drag-proxy .ext-color-10,
        .ext-color-10-ad,
        .ext-color-10-ad .ext-cal-evm,
        .ext-color-10 .ext-cal-picker-icon,
        .ext-color-10-x dl,
        .ext-color-10-x .ext-cal-evb {
            background: #6A5ACD;
        }
        .ext-color-10-x .ext-cal-evb,
        .ext-color-10-x dl {
            border-color: #7C3939;
        }
        .ext-color-11-x .ext-cal-evb,
        .ext-color-11-x dl {
            border-color: #FF4500;
        }
        .ext-color-11,
        .ext-ie .ext-color-11-ad,
        .ext-opera .ext-color-11-ad {
            color: #FF4500;
        }
        .ext-cal-day-col .ext-color-11,
        .ext-dd-drag-proxy .ext-color-11,
        .ext-color-11-ad,
        .ext-color-11-ad .ext-cal-evm,
        .ext-color-11 .ext-cal-picker-icon,
        .ext-color-11-x dl,
        .ext-color-11-x .ext-cal-evb {
            background: #FF4500;
        }
        .ext-color-11-x .ext-cal-evb,
        .ext-color-11-x dl {
            border-color: #7C3939;
        }
        .ext-color-12-x .ext-cal-evb,
        .ext-color-12-x dl {
            border-color: #6B8E23;
        }
        .ext-color-12,
        .ext-ie .ext-color-12-ad,
        .ext-opera .ext-color-12-ad {
            color: #6B8E23;
        }
        .ext-cal-day-col .ext-color-12,
        .ext-dd-drag-proxy .ext-color-12,
        .ext-color-12-ad,
        .ext-color-12-ad .ext-cal-evm,
        .ext-color-12 .ext-cal-picker-icon,
        .ext-color-12-x dl,
        .ext-color-12-x .ext-cal-evb {
            background: #6B8E23;
        }
        .ext-color-12-x .ext-cal-evb,
        .ext-color-12-x dl {
            border-color: #7C3939;
        }
        .ext-color-13-x .ext-cal-evb,
        .ext-color-13-x dl {
            border-color: #483D8B;
        }
        .ext-color-13,
        .ext-ie .ext-color-13-ad,
        .ext-opera .ext-color-13-ad {
            color: #483D8B;
        }
        .ext-cal-day-col .ext-color-13,
        .ext-dd-drag-proxy .ext-color-13,
        .ext-color-13-ad,
        .ext-color-13-ad .ext-cal-evm,
        .ext-color-13 .ext-cal-picker-icon,
        .ext-color-13-x dl,
        .ext-color-13-x .ext-cal-evb {
            background: #483D8B;
        }
        .ext-color-13-x .ext-cal-evb,
        .ext-color-13-x dl {
            border-color: #7C3939;
        }
        .ext-color-14-x .ext-cal-evb,
        .ext-color-14-x dl {
            border-color: #F7AC91;
        }
        .ext-color-14,
        .ext-ie .ext-color-14-ad,
        .ext-opera .ext-color-14-ad {
            color: #F7AC91;
        }
        .ext-cal-day-col .ext-color-14,
        .ext-dd-drag-proxy .ext-color-14,
        .ext-color-14-ad,
        .ext-color-14-ad .ext-cal-evm,
        .ext-color-14 .ext-cal-picker-icon,
        .ext-color-14-x dl,
        .ext-color-14-x .ext-cal-evb {
            background: #F7AC91;
        }
        .ext-color-14-x .ext-cal-evb,
        .ext-color-14-x dl {
            border-color: #7C3939;
        }
        .ext-color-15-x .ext-cal-evb,
        .ext-color-15-x dl {
            border-color: #EDFF17;
        }
        .ext-color-15,
        .ext-ie .ext-color-15-ad,
        .ext-opera .ext-color-15-ad {
            color: #EDFF17;
        }
        .ext-cal-day-col .ext-color-15,
        .ext-dd-drag-proxy .ext-color-15,
        .ext-color-15-ad,
        .ext-color-15-ad .ext-cal-evm,
        .ext-color-15 .ext-cal-picker-icon,
        .ext-color-15-x dl,
        .ext-color-15-x .ext-cal-evb {
            background: #EDFF17;
        }
        .ext-color-15-x .ext-cal-evb,
        .ext-color-15-x dl {
            border-color: #7C3939;
        }
        .ext-color-16-x .ext-cal-evb,
        .ext-color-16-x dl {
            border-color: #A96E1C;
        }
        .ext-color-16,
        .ext-ie .ext-color-16-ad,
        .ext-opera .ext-color-16-ad {
            color: #A96E1C;
        }
        .ext-cal-day-col .ext-color-16,
        .ext-dd-drag-proxy .ext-color-16,
        .ext-color-16-ad,
        .ext-color-16-ad .ext-cal-evm,
        .ext-color-16 .ext-cal-picker-icon,
        .ext-color-16-x dl,
        .ext-color-16-x .ext-cal-evb {
            background: #A96E1C;
        }
        .ext-color-16-x .ext-cal-evb,
        .ext-color-16-x dl {
            border-color: #7C3939;
        }
        .ext-color-17-x .ext-cal-evb,
        .ext-color-17-x dl {
            border-color: #D6B484;
        }
        .ext-color-17,
        .ext-ie .ext-color-17-ad,
        .ext-opera .ext-color-17-ad {
            color: #D6B484;
        }
        .ext-cal-day-col .ext-color-17,
        .ext-dd-drag-proxy .ext-color-17,
        .ext-color-17-ad,
        .ext-color-17-ad .ext-cal-evm,
        .ext-color-17 .ext-cal-picker-icon,
        .ext-color-17-x dl,
        .ext-color-17-x .ext-cal-evb {
            background: #D6B484;
        }
        .ext-color-17-x .ext-cal-evb,
        .ext-color-17-x dl {
            border-color: #7C3939;
        }
        .ext-color-18-x .ext-cal-evb,
        .ext-color-18-x dl {
            border-color: #FFE117;
        }
        .ext-color-18,
        .ext-ie .ext-color-18-ad,
        .ext-opera .ext-color-18-ad {
            color: #FFE117;
        }
        .ext-cal-day-col .ext-color-18,
        .ext-dd-drag-proxy .ext-color-18,
        .ext-color-18-ad,
        .ext-color-18-ad .ext-cal-evm,
        .ext-color-18 .ext-cal-picker-icon,
        .ext-color-18-x dl,
        .ext-color-18-x .ext-cal-evb {
            background: #FFE117   ;
        }
        .ext-color-18-x .ext-cal-evb,
        .ext-color-18-x dl {
            border-color: #7C3939;
        }
        .ext-color-19-x .ext-cal-evb,
        .ext-color-19-x dl {
            border-color: #BBA201;
        }
        .ext-color-19,
        .ext-ie .ext-color-19-ad,
        .ext-opera .ext-color-19-ad {
            color: #BBA201;
        }
        .ext-cal-day-col .ext-color-19,
        .ext-dd-drag-proxy .ext-color-19,
        .ext-color-19-ad,
        .ext-color-19-ad .ext-cal-evm,
        .ext-color-19 .ext-cal-picker-icon,
        .ext-color-19-x dl,
        .ext-color-19-x .ext-cal-evb {
            background: #BBA201;
        }
        .ext-color-19-x .ext-cal-evb,
        .ext-color-19-x dl {
            border-color: #7C3939;
        }
        .ext-color-20-x .ext-cal-evb,
        .ext-color-20-x dl {
            border-color: #B9CB14;
        }
        .ext-color-20,
        .ext-ie .ext-color-20-ad,
        .ext-opera .ext-color-20-ad {
            color: #B9CB14;
        }
        .ext-cal-day-col .ext-color-20,
        .ext-dd-drag-proxy .ext-color-20,
        .ext-color-20-ad,
        .ext-color-20-ad .ext-cal-evm,
        .ext-color-20 .ext-cal-picker-icon,
        .ext-color-20-x dl,
        .ext-color-20-x .ext-cal-evb {
            background: #B9CB14;
        }
        .ext-color-20-x .ext-cal-evb,
        .ext-color-20-x dl {
            border-color: #7C3939;
        }        
        .ext-color-21-x .ext-cal-evb,
        .ext-color-21-x dl {
            border-color: #2F9C00;
        }
        .ext-color-21,
        .ext-ie .ext-color-21-ad,
        .ext-opera .ext-color-21-ad {
            color: #2F9C00;
        }
        .ext-cal-day-col .ext-color-21,
        .ext-dd-drag-proxy .ext-color-21,
        .ext-color-21-ad,
        .ext-color-21-ad .ext-cal-evm,
        .ext-color-21 .ext-cal-picker-icon,
        .ext-color-21-x dl,
        .ext-color-21-x .ext-cal-evb {
            background: #2F9C00;
        }
        .ext-color-21-x .ext-cal-evb,
        .ext-color-21-x dl {
            border-color: #7C3939;
        }
        .ext-color-22-x .ext-cal-evb,
        .ext-color-22-x dl {
            border-color: #FE642E;
        }
        .ext-color-22,
        .ext-ie .ext-color-22-ad,
        .ext-opera .ext-color-22-ad {
            color: #FE642E;
        }
        .ext-cal-day-col .ext-color-22,
        .ext-dd-drag-proxy .ext-color-22,
        .ext-color-22-ad,
        .ext-color-22-ad .ext-cal-evm,
        .ext-color-22 .ext-cal-picker-icon,
        .ext-color-22-x dl,
        .ext-color-22-x .ext-cal-evb {
            background: #FE642E;
        }
        .ext-color-22-x .ext-cal-evb,
        .ext-color-22-x dl {
            border-color: #FE642E;
        }        
        .ext-color-23-x .ext-cal-evb,
        .ext-color-23-x dl {
            border-color: #FBEFFB;
        }
        .ext-color-23,
        .ext-ie .ext-color-23-ad,
        .ext-opera .ext-color-23-ad {
            color: #FBEFFB;
        }
        .ext-cal-day-col .ext-color-23,
        .ext-dd-drag-proxy .ext-color-23,
        .ext-color-23-ad,
        .ext-color-23-ad .ext-cal-evm,
        .ext-color-23 .ext-cal-picker-icon,
        .ext-color-23-x dl,
        .ext-color-23-x .ext-cal-evb {
            background: #FBEFFB;
        }
        .ext-color-23-x .ext-cal-evb,
        .ext-color-23-x dl {
            border-color: #FBEFFB;
        } 