﻿
#Mensaje1,#Mensaje2,#Mensaje3
{
    font: 20px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #ff0000;
}

#lblTotalDocumento,#lblTotalNeto,#lblTotalIva
{
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #ff0000;
}

#lbldthorahh,#lbldthora,#lbldtadentro,#lbldtregistrados,#lbldtfaltan,#lbldtConteo,#lbldtestadoconteo,#lblFechaRefrescadt,#lblHoraRefrescadt
,#lblFechaCierredt,#lblHoraCierredt
{
    font: 19px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #18ab0c;
}

#cttitulo
{
    text-align: center;    
}

#lblTitulo
{
    font: 35px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #fff;
}

.lblAlerta, #lbldtestadoconteo1
{
    font: 19px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #ff0000;
}

.lblNormal
{
    font: 19px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    color: #18ab0c;
}

@media screen and (min-width:600px) and (max-width: 1000px)
{
    #lblhorahh,#lblHora,#lbladentro,#lblregistrados,#lblfaltan,#lblConteo,#lblEstadoConteo,#lblFechaRefresca,
    #lblHoraRefresca,#lblFechaCierre,#lblHoraCierre
    {
        font: 14px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
        color: #002166;
    }

    #lbldthorahh,#lbldthora,#lbldtadentro,#lbldtregistrados,#lbldtfaltan,#lbldtConteo,#lbldtestadoconteo,#lblFechaRefrescadt,#lblHoraRefrescadt
    ,#lblFechaCierredt,#lblHoraCierredt
    {
        font: 14px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
        color: #18ab0c;
    }

    #cttitulo
    {
        text-align: center;    
    }

    #lblTitulo
    {
        font: 35px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
        color: #fff;
    }

    .lblAlerta, #lbldtestadoconteo1
    {
        font: 14px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
        color: #ff0000;
    }

    .lblNormal
    {
        font: 14px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
        color: #18ab0c;
    }
}


